/*ESTILOS RESET*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*ESTILOS GLOBALES*/
body {
  font-family: "Inconsolata", monospace;
  background-size: cover;
}

.pick_wine {
  background-image: url(https://files.oaiusercontent.com/file-FcTvqf7RojNfUNjr1QY85u?se=2024-11-29T14%3A51%3A08Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3Df84ef886-ee7a-48d7-a9f6-b254b07a2001.webp&sig=YL/QH7hILyJ/F8AIdY4piYDRmSWMMKIY1TJI073GXb0%3D);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #630300;
  text-align: center;
  font-size: 49px;
  font-style: oblique;
  padding: 8px;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}

/*UTILIZACION DE EXTEND*/
.h1 {
  padding: 10px;
}

h2 {
  color: #630300;
  padding-bottom: 30px;
  padding-top: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(196, 192, 192);
}

.h3 {
  font-size: 25px;
  padding: 5px;
  color: #460202;
}

h4 {
  color: #a39999;
  font-size: 23px;
}

.red-text {
  color: #630300;
}

.white-text {
  color: #a39999;
}

.menu-icon {
  background-image: url(../imgs/menu-hamburguesa.jpg);
}

.menu-button {
  border: 0;
}

.menu-button:focus {
  box-shadow: none;
}

.dym_ayc {
  background-color: #313131c0;
  max-width: 100%;
}

.mesa {
  background-color: #535252;
}

.contact {
  color: rgba(163, 153, 153, 0.6352941176);
  font-size: 45px;
}

.h1 {
  display: flex;
  flex-wrap: wrap;
  color: #530505;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}

header .navbar {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: 700;
}
header .container-fluid .logo {
  border-radius: 15px;
  width: 100px;
  height: 100px;
  margin: 10px;
}
header .container-fluid .logo img {
  border-radius: 75px;
  max-width: 100%;
  width: 70px;
  height: 70px;
}
header .container-fluid .menu {
  font-family: Georgia, "Times New Roman", Times, serif;
  flex-grow: 0;
}

/*ESTILOS MAIN INDEX*/
.main_index .momentos {
  font-size: 50px;
  color: #b4acac;
  text-align: center;
  margin-top: 0px;
  padding: 10px;
}

.main_index .content-home {
  text-align: center;
}

.main_index .botones {
  color: #a39999;
  text-align: center;
  margin-bottom: 10px;
  text-decoration: none;
  padding: 4px;
  margin: 2px;
}

.main_index .botones img {
  width: 20%;
  border-radius: 22px;
}

.main_index .contain_horarios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px;
}

.main_index .hijo1_horarios {
  text-align: center;
  justify-content: center;
  background-color: rgba(184, 148, 148, 0.788);
  padding: 20px;
  border-radius: 30px 5px;
  transition: background-color 0.3s ease;
  border: 2px solid rgb(80, 0, 0);
}

.hijo1_horarios:hover {
  background-color: rgba(156, 150, 150, 0.8705882353);
}

.main_index .hijo2_horarios {
  color: #380000;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

.main_index .horarios {
  color: #520000;
  font-weight: 700;
}

/*ESTILOS MAIN ALMUERZO*/
.main_alm .font_alm {
  font-size: 49px;
  border-radius: 10px 14px;
}
.fondo{
  height: 60%;
  width: 100%;
}
.fondo2{
  height: auto;
  width: 100%;
}
.main_alm .wrap-title-section1 {
  text-align: center;
  font-size: 25px;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: -20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.main_alm .wrap_column-1_carta {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 500px);
  justify-items: center;
  align-items: center;
  
  /*MIXIN GRID ALMUERZO*/
}
.main_alm .wrap_column-1_carta .plato-carta1 .title-plato-carta {
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  row-gap: 10px;
  margin-top: 5px;
  height: 150px;
}
.main_alm .wrap_column-1_carta .plato-carta1 {
  font-family: "PT Serif", serif;
  font-weight: bold;
  width: 380px;
  height: 420px;
  background-color: #413939;
  text-align: center;
  border-radius: 20px 0px;
  overflow: hidden;
  box-shadow: 13px 8px 27px 0px rgba(0, 0, 0, 0.75);
}
.main_alm .wrap_column-1_carta .plato-carta1 img {
  width: 100%;
  height: 250px;
}
.main_alm .wrap_column-1_carta .plato-carta1 .title-plato-carta {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-size: 17px;
}
.main_alm .wrap_column-1_carta .plato-carta1 .p_button2 {
  text-align: center;
}
.main_alm .wrap_column-1_carta .plato-carta1 .p_button2 button {
  color: #853d3d;
  background-color: #442c2b;
  transition: background-color 0.3s ease;
  cursor: pointer;
  text-align: center;
  margin-bottom: 25px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 17px;
  border: none;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}
.main_alm .wrap_column-1_carta .plato-carta1 .p_button2 button:hover {
  background-color: rgba(15, 12, 12, 0.9254901961);
}
.main_alm .p_libre {
  font-size: 28px;
}
.main_alm .p_libre .libre {
  text-align: center;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}
.main_alm .p_libre .entrada {
  text-align: center;
  padding: 10px;
  font-size: 24px;
  text-shadow: 2px 2px 3px rgba(94, 0, 0, 0.726);
}
.main_alm .p_libre .p_button {
  text-align: center;
}
.main_alm .p_libre .p_button button {
  color: #853d3d;
  background-color: #442c2b;
  cursor: pointer;
  text-align: center;
  margin-bottom: 25px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 25px;
  border: none;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}
.main_alm .p_libre .p_button button:hover {
  background-color: #111010;
}

/*ESTILOS DESAYUNOS*/
.main_des .wrap-title-section {
  text-align: center;
  font-size: 25px;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*MIXIN FLEX DESAYUNO*/
.wrap_column-2_carta {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  flex-wrap: wrap;
  justify-items: center;
  row-gap: 5px;
}
.wrap_column-2_carta .plato-carta .title-plato-carta {
  display: grid;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 10px;
  margin-top: 5px;
  height: 150px;
}
.wrap_column-2_carta .plato-carta {
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-size: 12px;
  width: 320px;
  height: 500px;
  background-color: #413939;
  text-align: center;
  border-radius: 20px 0px;
  overflow: hidden;
  box-shadow: 13px 8px 27px 0px rgba(0, 0, 0, 0.75);
}
.wrap_column-2_carta .plato-carta img {
  width: 100%;
  height: 300px;
}
.wrap_column-2_carta .plato-carta .title-plato-carta {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-size: 17px;
}
.wrap_column-2_carta .plato-carta .p_button2 {
  text-align: center;
}
.wrap_column-2_carta .plato-carta .p_button2 button {
  color: #853d3d;
  background-color: #442c2b;
  transition: background-color 0.3s ease;
  cursor: pointer;
  text-align: center;
  margin-bottom: 25px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 17px;
  border: none;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}
.wrap_column-2_carta .plato-carta .p_button2 button:hover {
  background-color: #111010;
}

/*ESTILOS CONTACTO*/
.main_contacto .form-section {
  justify-content: center;
  align-items: center;
}
.main_contacto .form-section .msj {
  font-size: 20px;
  text-align: center;
  padding: 7px;
}
.main_contacto .form-section .formulario .input-form {
  margin-bottom: 15px;
}
.main_contacto .form-section .formulario {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgba(53, 44, 44, 0.3568627451);
  width: 75%;
  margin: auto;
  padding: 10px;
  border: 2px solid #584545;
  border-radius: 30px 5px;
  text-align: center;
}
.main_contacto .form-section .formulario .input-form {
  margin-bottom: 15px;
  text-align: center;
  justify-items: center;
  padding: 5px;
}
.main_contacto .form-section .formulario .input-form .msj_form {
  padding: 5px;
  height: 40px;
  width: 100%;
  max-width: 50%;
  box-sizing: border-box;
}
.main_contacto .form-section .formulario .input-form .enviar {
  color: #a19898;
  background-color: #680505;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
  padding: 6px;
  margin: 6px;
  border-radius: 25% 25% 15% 15%;
  border: 2px solid #5c5757;
}
.main_contacto .form-section .formulario .input-form .enviar:hover {
  background-color: #360000;
  transition: background-color 0.3s ease;
}

/*ESTILOS RESERVA*/
.main_reserva {
  text-align: center;
  padding: 10px;
}
.main_reserva .img_wine img {
  display: flex;
  margin-top: 65px;
  text-align: center;
  border-radius: 75%;
  width: 155px;
  height: 155px;
  margin-left: auto;
  margin-right: auto;
}
.main_reserva .chat_reserva {
  font-size: 17px;
  background-color: #3d0707;
  color: white;
  padding: 7px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.main_reserva .chat_reserva:hover {
  background-color: #5f1510;
}
.main_reserva .wps {
  color: #530505;
  padding: 15px;
  font-size: 18px;
  font-weight: 600;
}
.main_reserva .download button {
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #3d0707;
  color: rgb(253, 251, 251);
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.main_reserva .download button:hover {
  background-color: #5f1510;
}
.main_reserva .saludo_ws {
  color: #521414;
  background: none;
  font-weight: 500;
  text-align: left;
  margin-left: 20px;
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/*ESTILOS FOOTER*/
.footer {
  position: relative;
  margin-top: 70px;
  font-family: sans-serif;
  text-transform: capitalize;
  background-color: rgba(1, 16, 34, 0.3294117647);
  padding: 30px 0;
}
.footer .footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.footer .footer-container .footer-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
}
.footer .footer-container .footer-row .social-links h4 {
  margin-bottom: 10px;
  color: #ffffff;
  border-bottom: 2px solid #00C3FF;
}
.footer .footer-container .footer-row .social-links {
  margin: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.footer .footer-container .footer-row .social-links:hover {
  color: #d1c8c8;
  padding-left: 3px;
}
.footer .footer-container .footer-row .social-links .fab {
  color: #fcfafa;
  font-size: 26px;
}
.footer .footer-container .footer-row .social-links .social-links a {
  margin: 0 5px;
}
.footer .footer-container .footer-row .logo2 img {
  border-radius: 75px;
  max-width: 100%;
  position: fixed;
  right: 15px;
  bottom: 20px;
  width: 55px;
  height: 55px;
}

/*MEDIA QUERYS*/
@media screen and (max-width: 1024px) {
  .main_alm .wrap_column-1_carta {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2, 300px;
    gap: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .main_alm .wrap_column-1_carta {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .main_alm .font_alm {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 1024px) {
  .main_des .wrap_column-2_carta {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    gap: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .main_des .wrap_column-2_carta {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .main_des .font_des {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  .content-home .botones img {
    width: 190px;
    justify-content: center;
  }
  .contain_horarios {
    padding: 15px;
  }
  .hijo2_horarios {
    font-size: 1.3rem;
  }
  .horarios {
    font-size: 1.1rem;
  }
}

/*# sourceMappingURL=main.css.map */
