
/*ESTILOS MAIN INDEX*/

.main_index {
    .momentos{
        font-size: 50px;
        color: #d3caca;
        text-align: center;
        margin-top: 0px;
        padding: 10px;
    }
    .content-home{
        text-align: center;
    }
        .botones{
            color: #a39999;
            text-align: center;
            margin-bottom: 10px;
            text-decoration: none;
            padding: 2px;
            margin: 2px;
        
            img{
                width: 20%;
                border-radius: 22px;
            }
        }
    }
