
/*ESTILOS MAIN ALMUERZO*/

.main_alm{
    .font_alm{
        font-size: 49px;
        border-radius: 10px 14px;
    }
    .wrap-title-section1{
        text-align: center;
        font-size: 25px;
        margin: 0px;
        margin-top: 10px;
        margin-bottom: -20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .wrap_column-1_carta{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 500px);
        justify-items: center;
        align-items: center;

        /*MIXIN GRID ALMUERZO*/
        .plato-carta1 .title-plato-carta{
            @include grid(column, center, center, center);
            // display: grid;
            // flex-direction: column;
            // align-items: center;
            // text-align: center;
            // justify-content: center;
            row-gap: 10px;
            margin-top: 5px;
            height: 150px;
        }

        .plato-carta1{
            font-family: 'PT Serif', serif;
            font-weight: bold;
            width: 260px;
            height: 460px;
            background-color: #413939;
            text-align: center;
            border-radius: 20px 0px;
            overflow: hidden;
            box-shadow: 13px 8px 27px 0px rgba(0,0,0,0.75);
            img{
                width: 100%;
                height: 210px;
            }
            .title-plato-carta{
                text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
                font-size: 17px;
            }
            .p_button2{
                text-align: center;
                
                
                button{
                    color: #853d3d;
                    background-color:#442c2b;
                    transition: background-color 0.3s ease;                   
                    cursor: pointer;
                    text-align: center;
                    margin-bottom: 25px;
                    padding: 5px 10px;
                    border-radius: 5px;
                    font-size: 17px;
                    border: none;
                    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
                    &:hover{
                        background-color: #0f0c0cec;
                        
                    }
                }
            }        
        }
    }
    .p_libre{
        font-size: 28px;
        .libre{
            text-align: center;
            text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
        }
        .entrada{
            text-align: center;
            padding: 10px;
            font-size: 24px;
            text-shadow: 2px 2px 3px rgba(94, 0, 0, 0.726);
        }
        .p_button{
            text-align: center;
            button{
                color: #853d3d;
                background-color:#442c2b;               
                cursor: pointer;
                text-align: center;
                margin-bottom: 25px;
                padding: 5px 10px;
                border-radius: 5px;
                font-size: 25px;
                border: none;
                text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
                &:hover{
                    background-color: #111010;
                }
            }
        }
    }
}