
/*ESTILOS CONTACTO*/
.main_contacto{
    .form-section{
        justify-content: center;
        align-items: center;
        .msj{
            font-size: 20px;
            text-align: center;
            padding: 7px;
        }
        .formulario .input-form{
            margin-bottom: 15px;
        }
        .formulario{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            background-color: #352c2c5b;
            width: 75%;
            margin: auto; 
            padding: 10px;
            border: 2px solid #584545;
            border-radius: 30px 5px;
            text-align: center;
            .input-form{
                margin-bottom: 15px;
                text-align: center;
                justify-items: center;
                padding: 5px;
                .msj_form{
                    padding: 5px;
                    height: 40px;
                    width: 100%;
                    max-width: 50%;
                    box-sizing: border-box;
                }
                .enviar{
                    color: #a19898;
                    background-color:#680505;
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    font-size: 18px;
                    padding: 6px;
                    margin: 6px;
                    border-radius: 25% 25% 15% 15%;
                    border: 2px solid #5c5757;
                
                }
                .enviar:hover{
                    background-color: #360000;
                    transition: background-color 0.3s ease;
                }
            }
        }
    }
}