/*MEDIA QUERYS*/

@media screen and (max-width: 1024px){
    .main_alm{
        .wrap_column-1_carta{
            display: grid;
            grid-template-columns: 2;
            grid-template-rows: 2, 300px;
            gap: 1rem;
        
        }
    }
}

@media screen and (max-width: 768px) {
    .main_alm{
        .wrap_column-1_carta{
            display: grid;
            grid-template-columns: 1fr;
            gap: 1rem;
        }
        .font_alm{
            font-size: 2.5rem;
        }
    }
}


@media screen and (max-width: 1024px){
    .main_des{
        .wrap_column-2_carta{
            display: grid;
            grid-template-columns: repeat(2,300px);
            gap: 1rem;
        }
    }
}

@media screen and (max-width: 768px){
    .main_des{
        .wrap_column-2_carta{
            display: grid;
            grid-template-columns: 1fr;
            gap: 1rem;
        }
        .font_des{
            font-size: 2.5rem;
        }
    }
}

@media screen and (max-width: 768px){
    .content-home{
        .botones img{
            width: 180px;
            justify-content: center;
        }
    }
}